<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-feature="http://schemas.android.com/apk/res-auto"
    package="boom.boom">
    <uses-sdk android:minSdkVersion="4" />
    <!-- 手机振动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 指定添加安装快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/android" android:theme="@style/AppTheme">
        <activity android:name="boom.boom.Welcome.Welcome_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
             <activity android:name="boom.boom.zhujiemian.Main_activity"
                        android:theme="@android:style/Theme.Black.NoTitleBar"
                 android:screenOrientation="portrait"></activity>
        <activity android:name="boom.boom.tianzhan.Tiaozhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.denglu.dengluzhuce_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shezhi.Shezhi_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.wanshanxinxi.Wanshanxinxi_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.zhucechenggong.Zhucechenggong_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.guizejieshao.Guizejieshao_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".paishetiaozhan.Paishetiaozhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".tingzhitiaozhan.Tingzhipaishe_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".shangchuanchenggong.Shangchuanchenggong1_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".shangchuandengdai.Shangchuandengdai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.paisheshangchuan.Paisheshangchuan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.xinxizhongxin.xinxizhongxin_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shouquanshibai.Shouquanshibai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shouquanchenggong.Shouquanchengong_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.zhuceyanzheng.Zhuceyanzheng_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.qiandao.Qiandao_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.mimazhaohui.Mimazhaohui_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.mimazhaohui_phone.Mimazhaohui_phone_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.mimazhaohui_emall.Mimazhaohui_emall_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.gerenzhuye.Gerenzhuye_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.paihangbang.Paihangbang_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.bianjixinxi.Bianjixinxi_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.mimaxiugai.Mimaxiugai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.faqitianzhan.Faqitianzhan_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.zinitiaozhan.Zinitianzhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.bangzhuyufankui.Bangzhuyufankui_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.guanyuwomen.Guanyuwomen_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.tongxunlu.tongxunlu_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.haoyouliebiao.Haoyouliebiao_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <!--<activity android:name= "boom.boom.tianjiahaoyou.Tianjiahaoyou_activity"-->
            <!--android:theme="@android:style/Theme.Black.NoTitleBar"></activity>-->










    </application>

</manifest>
