<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-feature="http://schemas.android.com/apk/res-auto"
    package="boom.boom">
    <uses-sdk android:minSdkVersion="4" />
    <!-- 手机振动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 指定添加安装快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/android" android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name="boom.boom.Welcome.Welcome_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
             <activity android:name="boom.boom.zhujiemian.Main_activity"
                        android:theme="@android:style/Theme.Black.NoTitleBar"
                 android:screenOrientation="portrait"></activity>
        <activity android:name="boom.boom.tianzhan.Tiaozhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.denglu.dengluzhuce_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shezhi.Shezhi_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.wanshanxinxi.Wanshanxinxi_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.zhucechenggong.Zhucechenggong_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.guizejieshao.Guizejieshao_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".paishetiaozhan.Paishetiaozhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
       <activity android:name=".shangchuanchenggong.Shangchuanchenggong1_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".shangchuandengdai.Shangchuandengdai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.xinxizhongxin.xinxizhongxin_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleTask"></activity>
        <activity android:name="boom.boom.shouquanshibai.Shouquanshibai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shouquanchenggong.Shouquanchengong_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.zhuceyanzheng.Zhuceyanzheng_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.shezhimima.Shezhimima_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.qiandao.Qiandao_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.mimazhaohui.Mimazhaohui_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.mimazhaohui_phone.Mimazhaohui_phone_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.mimazhaohui_emall.Mimazhaohui_emall_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.gerenzhuye.Gerenzhuye_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name="boom.boom.paihangbang.Paihangbang_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name="boom.boom.bianjixinxi.Bianjixinxi_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name= "boom.boom.mimaxiugai.Mimaxiugai_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.faqitianzhan.Faqitianzhan_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.zinitiaozhan.Zinitianzhan_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.bangzhuyufankui.Bangzhuyufankui_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.guanyuwomen.Guanyuwomen_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.tongxunlu.tongxunlu_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.haoyouliebiao.Haoyouliebiao_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name= "boom.boom.shipintianzhanpinglun.Shipintianzhan_pinglun"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name= "boom.boom.liuyan.Liuyan_activity"
        android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.wangqitiaozhan.wangqitiaozhan"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.liuyanbanpinglun.Liuyanban_pinglun"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.liuyanhuifu.Liuyanhuifu_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.search_friends.Search_friends_activity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name= "boom.boom.youxiangyanzheng.Youxiangyanzheng_activity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <receiver android:name="boom.boom.api.MyReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104729954" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>
